.search-container{
    width: 300px;
}

.control-style {
    font-size: 24px;
    color:  #007dc6;
}

.icon-style {
    margin-top: 25px;
}

.product-odd {
    background-color: #E6EC8B;
    margin-top: 2px;
    color: #004B8D;
}

.product-even {
    background-color: #D6E03D;
    margin-top: 2px;
    color: #004B8D;
}
