.title-style{
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    text-align: center;
    color: black;
}

.description-style {
    font-size: 16px; 
    color: black;
    text-align: left
}