


.thumbnail-style {
    //width: 150px;
    border:solid; 
    border-width: 1px; 
    border-color: black; 
    padding: 10px;
    text-align: center;
}

.description-style {
    border:solid; 
    border-width: 1px; 
    border-color: black; 
    padding: 5px; 
}

.price-style {
    border:solid; 
    border-width: 1px; 
    border-color: black; 
    padding: 5px; 
    color: black;
    //width: 15%
}